.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-r {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-r {
  display: flex;
  flex-direction: row-reverse;
}

.items-center {
  align-items: center;
}

.justify-b {
  justify-content: space-between;
}