:root {
 --thunderbird-50: #fef2f3;
 --thunderbird-100: #ffe1e2;
 --thunderbird-200: #ffc8cb;
 --thunderbird-300: #ffa2a6;
 --thunderbird-400: #fc6d74;
 --thunderbird-500: #f43f48;
 --thunderbird-600: #e22029;
 --thunderbird-700: #be171f;
 --thunderbird-800: #9d171d;
 --thunderbird-900: #821a1f;
 --thunderbird-950: #47080b;

 --lima-50: #f1fee7;
 --lima-100: #e0fbcc;
 --lima-200: #c2f79f;
 --lima-300: #9aef67;
 --lima-400: #76e338;
 --lima-500: #52bf18;
 --lima-600: #40a010;
 --lima-700: #327a11;
 --lima-800: #2b6113;
 --lima-900: #265215;
 --lima-950: #102d06;

 --deep-50: #f1fafe;
 --deep-100: #e2f3fc;
 --deep-200: #c0e6f7;
 --deep-300: #87d3f2;
 --deep-400: #48bde8;
 --deep-500: #20a5d7;
 --deep-600: #1284b5;
 --deep-700: #106a94;
 --deep-800: #115a7b;
 --deep-900: #144b66;
 --deep-950: #0d3044;

 --mine-50: #f5f5f6;
 --mine-100: #e6e6e7;
 --mine-200: #cfcfd2;
 --mine-300: #aeafb2;
 --mine-400: #85868b;
 --mine-500: #6a6b70;
 --mine-600: #5b5b5f;
 --mine-700: #4d4d51;
 --mine-800: #444546;
 --mine-900: #3b3b3e;
 --mine-950: #2d2d2f;
}

