@use '_variable.scss';
@use '_gap.scss';
@use '_displays.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("@egjs/vue3-flicking/dist/flicking.css");
@import url("@egjs/flicking-plugins/dist/flicking-plugins.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--mine-700);
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant', serif;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1640px;
  padding: 0 10px;
  margin: 0 auto;
}